{{- $params := .Params | merge .Site.Params.page -}}

<article class="single summary" itemscope itemtype="http://schema.org/Article">
    {{- /* Title */ -}}
    <h2 class="single-title" itemprop="name headline">
        <a href="{{ safeURL .RelPermalink }}">{{ .Title | emojify }}</a>
    </h2>
    
    {{ with $imageSrc := .Params.image }}
            {{ $image := resources.Get . }}
            {{ with $image }}
            {{ $image = $image.Resize "300x webp" }}
                <img src="{{ $image.RelPermalink }}" />
            {{ end }}
        {{ end }}

    {{- /* Meta */ -}}
    <div class="post-meta">
        {{- $author := $params.author | default .Site.Author.name | default (T "author") -}}
        {{- $authorLink := $params.authorlink | default .Site.Author.link | default .Site.Home.RelPermalink -}}
        <span class="post-author">
            {{- $options := dict "Class" "author" "Destination" $authorLink "Title" "Author" "Rel" "author" "Icon" (dict "Class" "fas fa-user-circle fa-fw") "Content" $author -}}
            {{ with $options }}
                <a href="{{ $authorLink | safeURL }}"{{ with .Title }} title="{{ . }}"{{ end }} >
                    {{ $author }}
                </a>
            {{ end }}
        </span>

        {{- with .Site.Params.dateFormat | default "2006-01-02" | .PublishDate.Format -}}
            &nbsp;<span class="post-publish">
                {{- printf `<time datetime="%v">%v</time>` . . | dict "Date" | T "publishedOnDate" | safeHTML -}}
            </span>
        {{- end -}}

        {{- $categories := slice -}}
        {{- range .Params.categories -}}
            {{- $category := . | printf "/categories/%v" | $.Site.GetPage -}}
            {{- $categories = $categories | append (printf `<a href="%v"><i class="far fa-folder fa-fw" aria-hidden="true"></i>%v</a>` $category.RelPermalink $category.Title) -}}
        {{- end -}}
        {{- with delimit $categories "&nbsp;" -}}
            &nbsp;<span class="post-category">
                {{- dict "Categories" . | T "includedInCategories" | safeHTML -}}
            </span>
        {{- end -}}
    </div>

    {{- /* Summary content */ -}}
    <div class="content">
        {{- with .Summary -}}
            {{ . }}
        {{- else -}}
            {{- .Description | safeHTML -}}
        {{- end -}}
    </div>

    {{- /* Footer */ -}}
    <div class="post-footer">
        <a href="{{ .RelPermalink }}">Read More</a>
        {{- with .Params.tags -}}
            <div class="post-tags">
                <i class="fas fa-tags fa-fw" aria-hidden="true"></i>&nbsp;
                {{- range $index, $value := . -}}
                    {{- if gt $index 0 }},&nbsp;{{ end -}}
                    {{- $tag := $value | urlize | printf "/tags/%v" | $.Site.GetPage -}}
                    <a href="{{ $tag.RelPermalink }}">{{ $tag.Title }}</a>
                {{- end -}}
            </div>
        {{- end -}}
    </div>
</article>