<section id="post-footer">
    <span>
        {{- with .Site.Params.dateformat | default "2006-01-02" | .Lastmod.Format -}}
            {{- dict "Date" . | T "updatedOnDate" -}}
            {{- if $.Site.Params.gitRepo -}}
                {{- with $.GitInfo -}}
                    &nbsp;<a class="git-hash" href="{{ printf `%v/commit/%v` $.Site.Params.gitRepo .Hash }}" target="_blank" title="commit by {{ .AuthorName }}({{ .AuthorEmail }}) {{ .Hash }}: {{ .Subject }}">
                        <i class="fas fa-hashtag fa-fw" aria-hidden="true"></i>{{- .AbbreviatedHash -}}
                    </a>
                {{- end -}}
            {{- end -}}
        {{- end -}}
    </span>

    <section class="post-tags">
        {{- with .Params.tags -}}
            <i class="fas fa-tags fa-fw" aria-hidden="true"></i>
            {{- range $index, $value := . -}}
                {{- if gt $index 0 }},&nbsp;{{ end -}}
                {{- $tag := $value | urlize | printf "/tags/%v" | $.Site.GetPage -}}
                <a href="{{ $tag.RelPermalink }}">{{ $tag.Title }}</a>
            {{- end -}}
        {{- end -}}
    </section>

    {{ template "_internal/disqus.html" . }}

    <div class="post-nav">
        {{- $prevPage := false -}}
        {{- $nextPage := false -}}
        {{- if or (.Params.prev) (.Params.next) -}}
            {{- with .Params.prev -}}
                {{- $prevPage = $.Site.GetPage . -}}
            {{- end -}}
            {{- with .Params.next -}}
                {{- $nextPage = $.Site.GetPage . -}}
            {{- end -}}
        {{- else -}}
            {{- $prevPage = .PrevInSection -}}
            {{- $nextPage = .NextInSection -}}
        {{- end -}}
        {{- with $prevPage -}}
            <a href="{{ .RelPermalink | safeURL }}" class="prev" rel="prev" title="{{ .Title }}"> < {{ .Title | emojify }}</a>
        {{- end -}}
        {{ with $nextPage }}
            <a href="{{ .RelPermalink | safeURL }}" class="next" rel="next" title="{{ .Title }}">{{ .Title | emojify }} ></a>
        {{- end -}}
    </div>
</section>