{{ define "content" }}
<section id="profile">
    <a href="posts/">
        <img src="https://secure.gravatar.com/avatar/24025160393b461e60c21638367caa43?s=200" width="200" height="200" alt="Image of Joshua Johanan hiking with his dog" loading="lazy"/>
    </a>
    <h1>I'm Joshua Johanan and this is a blog about writing code</h1>
    <ul>
        <li><a href="https://www.youtube.com/c/ejoshcode" title="YouTube" class="youtube"><i class="fab fa-youtube"></i></a></li>
        <li><a href="https://github.com/johanan" title="Github" class="github"><i class="fab fa-github"></i></a></li>
        <li><a href="https://www.linkedin.com/in/joshua-johanan-71976049/" title="LinkedIn" class="linkedin"><i class="fab fa-linkedin"></i></a></li>
    </ul>
</section>

<section style="margin-top: 5rem;">
    {{- if .Paginator.Pages -}}
        {{- range .Paginator.Pages -}}
            <article class="archive-item">
                {{- .Render "summary" -}}
            </article>
        {{- end -}}
        {{ template "_internal/pagination.html" . }}
    {{- end -}}
</section>
{{ end }}