{{ define "content" }}
<section id="profile">
    <div class="carousel">
    <a href="posts/">
        <img src="https://secure.gravatar.com/avatar/24025160393b461e60c21638367caa43?s=200" width="200" height="200" alt="Image of Joshua Johanan hiking with his dog" loading="lazy"/>
        <img src="/de/images/josh_funko_pop.webp" width="200" height="200" loading="lazy"/>
        <img src="/de/images/josh_knit.webp" width="200" height="200" loading="lazy"/>
        <img src="/de/images/josh_patch.webp" width="200" height="200" loading="lazy"/>
    </a>
    </div>
    <h1>I am Joshua Johanan and this is a blog about writing code</h1>
    <ul>
        <li><a href="https://www.youtube.com/c/ejoshcode" title="YouTube" class="youtube"><i class="fab fa-youtube"></i></a></li>
        <li><a href="https://github.com/johanan" title="Github" class="github"><i class="fab fa-github"></i></a></li>
        <li><a href="https://www.linkedin.com/in/joshua-johanan-71976049/" title="LinkedIn" class="linkedin"><i class="fab fa-linkedin"></i></a></li>
    </ul>
</section>

<section style="margin-top: 5rem;">
    {{ partial "list" . }}
</section>
{{ end }}