{{- define "title" }}
    {{- .Params.Title | default (T .Section) | default .Section | dict "Some" | T "allSome" }} - {{ .Site.Title -}}
{{- end -}}

{{- define "content" -}}
    <div class="page archive">
        {{- /* Title */ -}}
        <h2>
            {{- .Params.Title | default (T .Section) | default .Section | dict "Some" | T "allSome" -}}
        </h2>

        {{- /* Paginate */ -}}
        {{- if .Paginator.Pages -}}
            {{- range .Paginator.Pages -}}
                <article class="archive-item">
                    {{- .Render "summary" -}}
                </article>
            {{- end -}}
            {{ template "_internal/pagination.html" . }}
        {{- end -}}
    </div>
{{- end -}}
