{{- define "title" }}{{ .Title }} - {{ .Site.Title }}{{ end -}}

{{- define "content" -}}
<section id="content">
    <article>
        <h1>{{ .Title }}</h1>
        <div class="meta">
            {{- $author :=  .Site.Author.name -}}
            {{- $authorLink :=  default .Site.Author.link | default .Site.Home.RelPermalink -}}
            <span class="post-author">
                <a href="{{ $authorLink | safeURL }}"><img src="{{ .Site.Author.gravatar }}?s=15" />{{ $author }}</a>
            </span>
            <span>
                {{- with .Site.Params.dateformat | default "1.2.2006" | .PublishDate.Format -}}
                    <time datetime="{{ . }}">{{ . }}</time>&nbsp;
                {{- end -}}
                : <span>{{ .WordCount }} words</span>
            </span>
            {{- with .Params.github -}}
            <div>
                <a href="{{.}}"><i class="fab fa-github"></i> src repository for the code</a>
            </div>
            {{- end -}}
        </div>
        {{ $featured := .Params.image | default "" }}
        {{ $alt := .Params.imageAlt | default .Title}}
        {{ with $image := or (.Resources.GetMatch $featured) (resources.GetMatch $featured)  }}
            {{ if ge $image.Width 860 }}
                {{ $image = $image.Resize "860x webp" }}
            {{ end }}
            {{ $small := $image.Resize "300x webp"}}
        <img src="{{ $image.RelPermalink }}" alt="{{ $alt }}" srcset="{{ $small.RelPermalink }} {{ $small.Width }}w, {{ $image.RelPermalink }} {{ $image.Width }}w" sizes="(max-width: 860px) {{ $small.Width }}px, {{ $image.Width }}px" loading="lazy"/>
        {{ end }}
        {{ .Content }}
    </article>
</section>
{{- partial "single/footer.html" . -}}
{{- end -}}