{{- define "title" }}{{ .Title }} - {{ .Site.Title }}{{ end -}}

{{- define "content" -}}
<section id="content">
    <article>
        <h1>{{ .Title }}</h1>
        <div class="meta">
            {{- $author :=  .Site.Author.name -}}
            {{- $authorLink :=  default .Site.Author.link | default .Site.Home.RelPermalink -}}
            <span class="post-author">
                <a href="{{ $authorLink | safeURL }}"><img src="{{ .Site.Author.gravatar }}?s=15" />{{ $author }}</a>
            </span>
            <span>
                {{- with .Site.Params.dateformat | default "1.2.2006" | .PublishDate.Format -}}
                    <time datetime="{{ . }}">{{ . }}</time>&nbsp;
                {{- end -}}
                : <span>{{ .WordCount }} words</span>
            </span>
            {{- with .Params.github -}}
            <div>
                <a href="{{.}}"><i class="fab fa-github"></i> src repository for the code</a>
            </div>
            {{- end -}}
        </div>
        {{ with $imageSrc := .Params.image }}
        {{ $options := dict "src" . "alt" ""}}
            {{ partial "functions/srcset.html" $options }}
        {{ end }}
        {{ .Content }}
    </article>
</section>
{{- partial "single/footer.html" . -}}
{{- end -}}