:root {
    // Font and Line Height
    --global-font-family: #{inspect($global-font-family)};
    --global-font-size: #{$global-font-size};
    --global-font-weight: #{$global-font-weight};
    --global-line-height: #{$global-line-height};

    --global-accent-font-family:  #{$global-accent-font-family};

    --header-height: 3.5rem;
    --content-padding: 4.5rem;

    // colors
    --gray1: #f8f8f8;
    --gray4: #333333;
    --gray5: #272822;
    --gray6: #161209;
  }

html {
    font-family: var(--global-font-family);
    font-weight: var(--global-font-weight);
    font-size: var(--global-font-size);
    line-height: var(--global-line-height);
    width:100%;
    scroll-behavior: smooth;
    color: var(--gray4);
  }

a {
    color: var(--gray4);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    margin: 0;
}

header {
    width: 100%;
    z-index: 150;
    background-color: #ffffff;
    display: block;
    position: fixed;
    height: var(--header-height);
    line-height: var(--header-height);
    overflow: hidden;
    transition: box-shadow 0.3s ease;

    &:hover, &.is-sticky {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px
    }

    a {
        color: var(--gray4);
        text-decoration: none;
    }

    .wrapper {
        min-width: 0;
        max-width: none;
        margin: 0 auto;
        display: flex;
        flex-flow: column wrap;
        align-content: space-between;
        height: var(--header-height);

        @include for-phone-only {
            min-width: 0;
            padding-left: 1rem;
            padding-right: 1rem;
        }

        @include for-desktop-up {
            max-width: 860px;
        }

        & > a {
            font-weight: bold;
            font-size: 1.5rem;
        }
    }

    ul {
        list-style: none;
        margin: 0;

        li {
            display: inline;
            padding: 0.5rem;
        }
    }
}

blockquote {
    border: 0 solid #1a1a1a;
    border-left-width: 0.25rem;
    color: #686868;
    font-size: 1.1875rem;
    font-style: italic;
    line-height: 1.5rem;
    margin: 0 0 1.4736842105em;
    overflow: hidden;
    padding: 0 0 0 1.263157895em;
}

p > code {
    background-color: var(--gray1);
    padding: 0.25rem;
}

main {
    flex: 1 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;

    .container {
        min-width: 0;
        max-width: none;
        margin: 0 auto;
        padding-top: var(--content-padding);

        @include for-phone-only {
            min-width: 0;
            padding-left: 1rem;
            padding-right: 1rem;
        }

        @include for-desktop-up {
            max-width: 860px;
        }
    }
}

h1, h2, h3, h4 {
    line-height: 2rem;
}

#profile {
    text-align: center;

    img {
        border-radius: 50%;
    }

    ul {
        list-style: none;
        padding: 0;

        li {
            display: inline;
            font-size: 2rem;
            padding: 0 0.5rem;
        }
    }
}

.pagination {
    display: flex;
    list-style: none;
    justify-content: center;

    .page-item {
        margin: 0.5rem;
        padding: 0;
        text-decoration: none;

        &.disabled, &.active {
            opacity: 0.5;
            cursor: default;
        }
    }
}

.tag-cloud-tags a {
    display: inline-block;
    padding: 0rem 0.5rem 0.25rem 0.5rem;
    border-radius: 3px;
    margin: 0 0.75rem 0.75rem 0;
    color: #ffffff;
    background-color: var(--gray4);
    border: 1px solid var(--gray4);
}

hr.small-divider {
    width: 50%; /* Adjust the width as needed */
    border: 0; /* Remove the default border */
    border-top: 1px solid rgba(102, 102, 102, 0.25);
    margin: 20px auto 20px 0; /* Center the hr and add some vertical spacing */
  }
  